@page
@model TripEnjoy.Presentation.Razor.Pages.Payment.SuccessModel
@{
    Layout = "";
}
<div class=content>
    <div class="wrapper-1">
        <div class="wrapper-2">
            <h1>Thank you !</h1>
            <p>you should receive a confirmation email soon  </p>
            <button class="go-home">
                go home
            </button>
        </div>
        
    </div>
</div>



 <link src="~/css/ThankYou.css"/>

<link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Source+Sans+Pro" rel="stylesheet">
