@page
@model TripEnjoy.Presentation.Razor.Pages.About.IndexModel
@{
    ViewData["Title"] = "About page";
}

<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6">
                <h6 class="section-title text-start text-primary text-uppercase">About Us</h6>
                <h1 class="mb-4">Welcome to <span class="text-primary text-uppercase">Hotelier</span></h1>
                <p class="mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo magna dolore erat amet</p>
                <div class="row g-3 pb-4">
                    <div class="col-sm-4 wow fadeIn" data-wow-delay="0.1s">
                        <div class="border rounded p-1">
                            <div class="border rounded text-center p-4">
                                <i class="fa fa-hotel fa-2x text-primary mb-2"></i>
                                <h2 class="mb-1" data-toggle="counter-up">1234</h2>
                                <p class="mb-0">Rooms</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 wow fadeIn" data-wow-delay="0.3s">
                        <div class="border rounded p-1">
                            <div class="border rounded text-center p-4">
                                <i class="fa fa-users-cog fa-2x text-primary mb-2"></i>
                                <h2 class="mb-1" data-toggle="counter-up">1234</h2>
                                <p class="mb-0">Staffs</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 wow fadeIn" data-wow-delay="0.5s">
                        <div class="border rounded p-1">
                            <div class="border rounded text-center p-4">
                                <i class="fa fa-users fa-2x text-primary mb-2"></i>
                                <h2 class="mb-1" data-toggle="counter-up">1234</h2>
                                <p class="mb-0">Clients</p>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="btn btn-primary py-3 px-5 mt-2" href>Explore More</a>
            </div>
            <div class="col-lg-6">
                <div class="row g-3">
                    <div class="col-6 text-end">
                        <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.1s" src="img/about-1.jpg" style="margin-top: 25%;">
                    </div>
                    <div class="col-6 text-start">
                        <img class="img-fluid rounded w-100 wow zoomIn" data-wow-delay="0.3s" src="img/about-2.jpg">
                    </div>
                    <div class="col-6 text-end">
                        <img class="img-fluid rounded w-50 wow zoomIn" data-wow-delay="0.5s" src="img/about-3.jpg">
                    </div>
                    <div class="col-6 text-start">
                        <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.7s" src="img/about-4.jpg">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid my-5 p-0">
    <div class="row g-0">
        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="feature-item">
                <h5 class="bg-primary text-white text-center p-4 m-0">Fitness Clab</h5>
                <div class="position-relative overflow-hidden">
                    <img class="img-fluid" src="img/feature-1.jpg" alt>
                    <div class="feature-text text-white text-center">
                        <p class="m-0">Clita sed diam est vero elitr ipsum. Et ipsum amet sea sed amet sed dolor justo vero lorem. Vero amet erat eos ipsum stet elitr tempor magna</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
            <div class="feature-item">
                <h5 class="bg-dark text-white text-center p-4 m-0">Party Center</h5>
                <div class="position-relative overflow-hidden">
                    <img class="img-fluid" src="img/feature-2.jpg" alt>
                    <div class="feature-text text-white text-center">
                        <p class="m-0">Clita sed diam est vero elitr ipsum. Et ipsum amet sea sed amet sed dolor justo vero lorem. Vero amet erat eos ipsum stet elitr tempor magna</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
            <div class="feature-item">
                <h5 class="bg-primary text-white text-center p-4 m-0">Restaurant</h5>
                <div class="position-relative overflow-hidden">
                    <img class="img-fluid" src="img/feature-3.jpg" alt>
                    <div class="feature-text text-white text-center">
                        <p class="m-0">Clita sed diam est vero elitr ipsum. Et ipsum amet sea sed amet sed dolor justo vero lorem. Vero amet erat eos ipsum stet elitr tempor magna</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
            <div class="feature-item">
                <h5 class="bg-dark text-white text-center p-4 m-0">Private Beach</h5>
                <div class="position-relative overflow-hidden">
                    <img class="img-fluid" src="img/feature-4.jpg" alt>
                    <div class="feature-text text-white text-center">
                        <p class="m-0">Clita sed diam est vero elitr ipsum. Et ipsum amet sea sed amet sed dolor justo vero lorem. Vero amet erat eos ipsum stet elitr tempor magna</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 pt-4" style="min-height: 350px;">
                <div class="position-relative h-100 wow fadeIn" data-wow-delay="0.1s">
                    <img class="position-absolute img-fluid w-100 h-100 rounded" src="img/feature.jpg" style="object-fit: cover;" alt>
                    <div class="bg-white border p-1 position-absolute top-0 end-0 mt-n4 me-n4">
                        <div class="border py-4 px-5">
                            <h1 class="display-4 text-primary mb-0">15 <span class="fs-4 text-dark">Years</span></h1>
                            <h4>Experience</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <h6 class="section-title text-start text-primary text-uppercase">Features</h6>
                <h1 class="mb-4">Why <span class="text-primary text-uppercase">Choose</span> Us</h1>
                <p class="mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo magna dolore erat amet</p>
                <div class="row g-4">
                    <div class="col-12 wow fadeIn" data-wow-delay="0.1s">
                        <div class="d-flex">
                            <div class="flex-shrink-0 border rounded p-1" style="width: 50px; height: 50px;">
                                <div class="w-100 h-100 border rounded d-flex align-items-center justify-content-center">
                                    <i class="fa fa-bed text-primary"></i>
                                </div>
                            </div>
                            <div class="ps-4">
                                <h5>Relux Living</h5>
                                <p class="m-0">Clita dolor sit lorem justo lorem. Diam dolore et sed erat, erat est diam dolore kasd sit sed amet sit dolor sed.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 wow fadeIn" data-wow-delay="0.2s">
                        <div class="d-flex">
                            <div class="flex-shrink-0 border rounded p-1" style="width: 50px; height: 50px;">
                                <div class="w-100 h-100 border rounded d-flex align-items-center justify-content-center">
                                    <i class="fa fa-shield-alt text-primary"></i>
                                </div>
                            </div>
                            <div class="ps-4">
                                <h5>High Security System</h5>
                                <p class="m-0">Clita dolor sit lorem justo lorem. Diam dolore et sed erat, erat est diam dolore kasd sit sed amet sit dolor sed.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 wow fadeIn" data-wow-delay="0.3s">
                        <div class="d-flex">
                            <div class="flex-shrink-0 border rounded p-1" style="width: 50px; height: 50px;">
                                <div class="w-100 h-100 border rounded d-flex align-items-center justify-content-center">
                                    <i class="fa fa-phone-alt text-primary"></i>
                                </div>
                            </div>
                            <div class="ps-4">
                                <h5>24/7 Telephone Support</h5>
                                <p class="m-0">Clita dolor sit lorem justo lorem. Diam dolore et sed erat, erat est diam dolore kasd sit sed amet sit dolor sed.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title text-center text-primary text-uppercase">Our Team</h6>
            <h1 class="mb-5">Explore Our <span class="text-primary text-uppercase">Staffs</span></h1>
        </div>
        <div class="row g-4">
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="team-item rounded">
                    <div class="position-relative">
                        <img class="img-fluid" src="img/team-1.jpg" alt>
                        <div class="position-absolute start-50 top-100 translate-middle d-flex align-items-center">
                            <a class="btn btn-square btn-primary mx-1" href><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square btn-primary mx-1" href><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square btn-primary mx-1" href><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="text-center p-4 mt-3">
                        <h5 class="fw-bold mb-0">Full Name</h5>
                        <small>Designation</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="team-item rounded">
                    <div class="position-relative">
                        <img class="img-fluid" src="img/team-2.jpg" alt>
                        <div class="position-absolute start-50 top-100 translate-middle d-flex align-items-center">
                            <a class="btn btn-square btn-primary mx-1" href><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square btn-primary mx-1" href><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square btn-primary mx-1" href><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="text-center p-4 mt-3">
                        <h5 class="fw-bold mb-0">Full Name</h5>
                        <small>Designation</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="team-item rounded">
                    <div class="position-relative">
                        <img class="img-fluid" src="img/team-3.jpg" alt>
                        <div class="position-absolute start-50 top-100 translate-middle d-flex align-items-center">
                            <a class="btn btn-square btn-primary mx-1" href><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square btn-primary mx-1" href><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square btn-primary mx-1" href><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="text-center p-4 mt-3">
                        <h5 class="fw-bold mb-0">Full Name</h5>
                        <small>Designation</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="team-item rounded">
                    <div class="position-relative">
                        <img class="img-fluid" src="img/team-4.jpg" alt>
                        <div class="position-absolute start-50 top-100 translate-middle d-flex align-items-center">
                            <a class="btn btn-square btn-primary mx-1" href><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square btn-primary mx-1" href><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square btn-primary mx-1" href><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="text-center p-4 mt-3">
                        <h5 class="fw-bold mb-0">Full Name</h5>
                        <small>Designation</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>