@page 
@model TripEnjoy.Presentation.Razor.Pages.ConfirmCodeModel
@{
    Layout = "";
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<section class="bg-light p-3 p-md-4 p-xl-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-xxl-11">
                <div class="card border-light-subtle shadow-sm">
                    <div class="row g-0" style="align-items:center; justify-content:center">

                        <div class="col-12 col-md-6 d-flex align-items-center justify-content-center">
                            <div class="col-12 col-lg-11 col-xl-10">
                                <div class="card-body p-3 p-md-4 p-xl-5">
                                    <div class="text-center mb-4">
                                        <a asp-page="index">
                                            <img src="~/img/Logo.png" alt="BootstrapBrain Logo" style="width: 175px; height: 120px; object-fit: contain;">
                                        </a>
                                    </div>
                                    <h4 class="text-center">Check confirm code in your gmail</h4>
                                    <form method="post">
                                        <div class="row gy-3 overflow-hidden">

                                            <div class="col-12">
                                                <div class="form-floating mb-3">
                                                    <input asp-for="Code" type="text" class="form-control" placeholder="Code" required>
                                                    <label asp-for="Code" class="form-label">Code</label>

                                                    <input asp-for="Password" type="hidden"></input>
                                                    <input asp-for="Email" type="hidden"></input>
                                                </div>
                                            </div>

                                            <div class="col-12">
                                                <div class="d-grid">
                                                    <button class="btn btn-dark btn-lg" type="submit">Confirm Now</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

